@media screen and (max-width: 480px) {
	body {
		padding: 0;
	}
	.container {
		width: auto;
		padding: 0;
	}
	header {
		padding: 0;
	}
	header h1 {
		line-height: 20px;
		font-size: 20px;
	}
	h1 small {
		display: none;
	}
	.mainNav {
		display: none;
	}
	article {
		margin-top: 0;
	}
	article li {
		font-size: 14px;
	}
	footer span {
		display: none;
	}
}