/*!
	Scss file for my homepage

	Author: SFantasy (https://github.com/SFantasy)
	License: MIT

*/

/* Color Variables */
$black: #000000;
$darkgrey: #545652;
$lightgrey: #cccccc;
$fontgrey: #333333;
$bordergrey: #ddd;
$codegrey: #f1f1f1;
$lightwhite: #f5f5f5;
$white: #d5d5d5;
$purewhite: #ffffff;
$backwhite: #f1f1f1;
$red: #f00;
$orange: #e30;
$yellow: #eb0;
$green: #0a3;
$bluegreen: #0aa;
$blue: #03a;
$backblue: #3b8bba;
$purple: #a0a;
$link: #4183c4;
/* Global settings */
body {
	margin: 0;
	font-family: Georgia, Helvetica, Arial, sans-serif;
	background-color: $backwhite;
	position: relative;
}
.inner {
	margin: 0 auto;
}
@mixin transform($d) {
	        transform: rotate($d);
	-webkit-transform: rotate($d);
	   -moz-transform: rotate($d);
	     -o-transform: rotate($d);
}
@mixin transition($t: .3s) {
	transition: all $t linear;
	-webkit-transition: all $t linear;
}
@mixin duration($t: 0.8s) {
	-webkit-transition-property: -webkit-transform;
	   -moz-transition-property: -moz-transform;
	     -o-transition-property: -o-transform;
			transition-property: transform;
	-webkit-transition-duration: $t;
	   -moz-transition-duration: $t;
	     -o-transition-duration: $t;
	        transition-duration: $t;
}
@mixin scale($d: 2.0) {
	        transform: scale($d);
	-webkit-transform: scale($d);
	   -moz-transform: scale($d);
	     -o-transform: scale($d);
}
header {
	cursor: default;
	//background-color: $backblue;
	//box-shadow: 0 0 2px $backblue;
	position: relative;
	margin-bottom: -20px;
	/* Navbar */
	.menu {
		display: inline-block;
		margin-top: 50px;
		margin-bottom: -50px;
		width: 100%;
		font: {
			size: 14px;
		}
		.navinner {
			margin: 0 auto;
			width: 850px;
		}
		h1 {
			margin: 0;
			display: inline-block;
			font: {
				family: "Comic Sans MS", Helvetica, Arial, sans-serif;
				size: 30px;
			};
			span {
				padding: 2px;
				color: $purewhite;
				display: inline-block;
			}
			#f {
				@include transform(6deg);
				background-color: $red;
				&:hover {
					@include transform(15deg);
				}
			}
			#a {
				@include transform(9deg);
				background-color: $orange;
				&:hover {
					@include transform(-10deg);
				}
			}
			#n {
				@include transform(-5deg);
				background-color: $yellow;
				&:hover {
					@include transform(20deg);
				}
			}
			#t {
				@include transform(-8deg);
				background-color: $green;
				&:hover {
					@include transform(-15deg);
				}			
			}
			#a2 {
				@include transform(4deg);
				background-color: $bluegreen;
				&:hover {
					@include transform(10deg);
				}
			}
			#s {
				@include transform(9deg);
				background-color: $blue;
				&:hover {
					@include transform(-9deg);
				}
			}
			#y {
				@include transform(-10deg);
				background-color: $purple;
				&:hover {
					@include transform(13deg);
				}
			}
		}
		small {
			display: inline-block;
			margin-left: 10px;
			@include transform(3deg);
			font-size: 16px;
			color: $purewhite;
			background-color: $backblue;
		}
		ul {
			padding: 0;
			margin: 0 10px;
			display: inline-block;
			li {
				display: inline-block;
				list-style: none;
				a {
					font-size: 14px;
					display: block;
					padding: 8px 14px;
					color: $fontgrey;
					text-decoration: none;
					&:hover {
						color: $link;
						background-color: $purewhite;
						@include transition;
					};
				}
			}
		}
	}
}
article {
	margin: 0px auto;
	padding: 5px 10px;
	.index {
		@extend .inner;
		width: 850px;
		min-height: 600px;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
		min-width: 400px;
		background-color: $purewhite;
		padding: 10px 0;
		margin: 15px auto;
		#showposts {
			li {
				display: inline-block;
				list-style-type: none;
				border: 1px solid $lightgrey;
				border-left: 4px solid $lightgrey;
				padding: 5px;
				font-size: 16px;
				margin: 8px;
				time {
					color: $lightgrey;
				}
				a {
					color: $fontgrey;
					text-decoration: none;
				}
			}
			li:nth-child(even) {
				&:hover {
					border-left: 4px solid $backblue;
					a {
						color: $backblue;
					}
				}
			}
			li:nth-child(odd) {
				&:hover {
					border-left: 4px solid $bluegreen;
					a {
						color: $bluegreen;
					}
				}
			}

		}
		#recentPost {
			color: $darkgrey;
			font: {
				size: 16px;
			};
		}
		#pageCount {
			color: $lightgrey;
			font-size: 14px;
			margin-left: 20px;
		}
	}
	.paginator {
		@extend .inner;
		width: 680px;
		font-size: 14px;
		line-height: 150%;
		span {
			padding: 3px 6px;
		}
		a {
			@extend span;
			text-decoration: none;
			color: $darkgrey;
			border: 1px solid rgba(0, 0, 0, 0);
			&:hover {
				background-color: $backblue;
				color: $purewhite;
				border: 1px solid $purewhite;
				@include duration(.5s);
			}
		}
		.currentPage {
			color: $lightgrey;
		}
		.disabled {
			@extend .currentPage;
		}
	}
	.post {
		@extend .inner;
		width: 850px;
		color: $fontgrey;
		font-size: 13px;
		line-height: 1.6;
		background-color: $purewhite;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
		min-height: 60px;
		padding: 10px 20px;
		margin: 15px auto;
		overflow: hidden;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		small a {
			padding: 1px 3px;
			color: $darkgrey;
			&:hover {
				color: $purewhite;
				background-color: $link;
			}
		}
		blockquote {
			border-left: 4px solid $darkgrey;
			padding: 0 15px;
			color: $darkgrey;
		}
		pre, code {
			font-family: Consolas, sans-serif;
		}
		pre {
			border: 1px solid $bordergrey;
			padding: 6px 10px;
			border-radius: 3px;
			line-height: 18px;
			margin-bottom: 16px;
			background-color: $codegrey;
		}
		code {
			border: 1px solid $bordergrey;
			background-color: $codegrey;
		}
		pre code {
			border: none;
		}
		a {
			text-decoration: none;
			color: $link;
			&:hover {
				color: $blue;
			}
		}
		#related {
			@extend a;
			border-top: 1px solid $bordergrey;
			margin-top: 50px;
		}
		nav {
			margin: 5px 0 10px 0;
			padding: 10px 0 10px 0;
			background-color: $purewhite;
			border-radius: 3px;
			a { 
				font-size: 16px;
			}
			span {
				display: block;
			}
		}
		table {
			border-spacing: 0;
			th, td {
				padding: 0 10px;
				border: 1px solid $white;
				border-right: none;
			}
			td {
				border-top: none;
			}
			th:last-child, td:last-child {
				border-right: 1px solid $white;
			}
		}
	}
	.list-items {
		a {
			padding: 3px 3px;
			&:hover {
				background-color: $link;
				color: $purewhite;
			}
		}
	}
	.post-items {
		a {
			padding: 1px 3px;
			&:hover {
				background-color: $bluegreen;
				color: $purewhite;
			}
		}
	}
}
footer {
	padding: 5px 0 0 0;
	width: 100%;
	@extend .inner;
	font: {
		size: 14px;
	};
	background-color: $backwhite;
	color: $darkgrey;
	p {
		margin: 0;
		text-align: center;
		a {
			color: $bluegreen;
			text-decoration: none;
			&:hover {
				color: $blue;
			};
		}
	}
}

@media only screen
and (min-width: 320px)
and (max-width: 480px) {
	header .menu .navinner {
		width: 320px;
	}
	article {
		.index,
		.post,
		.paginator {
			width: 320px;
		}
	}

}