.header {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', sans-serif;
}

a {
    -webkit-transition: color 0.5s linear;
    -moz-transition: color 0.5s linear;
    transition: color 0.5s linear;
}

.site-container {
    max-width: 640px;
    margin: 0 auto;
}

.header .site-title {
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}

.site-title > a {
    text-decoration: none;
    color: #4b4b4b;
}

.site-nav {
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.02);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.nav-inner {
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
    font-size: 0;
}

.nav-inner li {
    display: inline-block;
    width: 20%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-inner li a {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.nav-inner li a:hover {
    text-decoration: underline;
}

.site-container {
    padding: 20px 20px 0;
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
}

.site-heading-2 {
    font-family: 'Avenir Next', Avenir, 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.site-lists, .site-heading-2 {
    max-width: 600px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.site-lists > li {
    font-family: Lora, Georgia, sans-serif;
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
}

.site-lists > li > .list-title {
    text-decoration: none;
    font-size: 20px;
    color: #333;
    display: inline-block;
    margin-bottom: 10px;
}

.site-lists > li > .list-info {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    margin-right: 10px;
}

.site-lists > li > .list-info a {
    color: #57AD68;
    text-decoration: none;
}

.site-lists > li a:hover {
    text-decoration: underline;
}

.site-lists > li > time {
    color: #777;
    font-family: monospace;
}

@media screen and (max-width: 600px) {
    .site-lists > li > time {
        display: none;
    }
}

.site-lists > li > span {
    margin-left: 10px;
    padding-left: 10px;
    border-left: 4px solid #eee;
}

.category {
    font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif !important;
}

.category h3 {
    color: #333;
}

.site-category {
    padding: 0;
    list-style: none;
}

.site-category li {
    margin: 5px 0;
    padding-left: 5px;
    border-left: 4px solid rgba(0, 0, 0, 0.07);
}

.site-category li a {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.site-category li a:hover {
    text-decoration: underline;
}

.site-paginator {
    max-width: 600px;
    margin: 0 auto;
    padding: 1em 0;
}

.site-paginator li {
    display: inline-block;
    list-style: none;
}

.site-paginator li > a {
    text-decoration: none;
    color: #4b4b4b;
    padding: 5px 10px;
}

.site-paginator li > a.disable {
    color: #999;
}

.site-paginator li > .disable:hover {
    color: #999;
    text-decoration: none;
}

.site-paginator li > a.current-page {
    color: #000;
}

.site-paginator li > a:hover {
    color: #777;
    text-decoration: underline;
}

.site-footer {
    max-width: 700px;
    margin: 0 auto;
    border-top: 1px solid #eee;
}

.site-footer p {
    font-size: 14px;
    text-align: center;
    font-family: Lora, Georgia, sans-serif;
    color: #999;
}

.site-footer p > a {
    color: #999;
    margin: 0 5px;
    text-decoration: none;
}

.site-footer p > a:hover {
    color: #777;
    text-decoration: underline;
}

.post-content h1 {
    text-align: center;
}

.post-content .post-info {
    text-align: center;
}

.post-content a, .post-content .post-info a, .article-content a {
    text-decoration: none;
    color: #07a;
}

.post-content a:hover, .post-content .post-info a:hover, .article-content a:hover{
    text-decoration: underline;
    color: #07f;
}

.article-content h1, .article-content h2, .article-content h3, .article-content h4 {
    line-height: 1.6;
}

.article-content h2 {
    border-bottom: 1px solid #eee;
}

.article-content pre, pre code, code {
    background-color: #f9f9f9;
    font-size: 13px;
    font-family: Consolas, "Liberation Mono", Courier, monospace;
}

.article-content pre code {
    border: none;
    padding: 0;
}

.article-content pre, code {
    border: 1px solid #ddd;
}

.article-content pre {
    overflow: hidden;
    word-wrap: break-word;
    padding: 3px 5px;
    border-radius: 3px;
}

.article-content code {
    padding: 0 5px;
}

.article-content blockquote {
    border-left: 4px solid #d5d5d5;
    padding: 0 15px;
    color: #777;
}

.article-content img {
    width: 100%;
}

.article-license {
    padding: 20px 0;
    border-bottom: 1px solid rgba(150, 150, 150, .3);
    text-align: right;
}

.wrapper a {
    text-decoration: none;
    color: #444;
}

.wrapper a:hover {
    text-decoration: underline;
    color: #777;
}

.wrapper .category {
    font-size: 16px;
    border-bottom: 1px solid #eee;
}

.related {
    margin: 20px 0;
}

.post-hr {
    margin-top: 20px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    text-align: center;
}

.post-hr:after {
    content: '⌘';
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1em;
    padding: 0 0.25em;
    background: white;
}
