---
layout: template
title: Blog - Fantasy Shao
keywords: Blog, fantasyshao, front-end, iOS, Mac
description: The blog of fantasyshao, front-end development, learning iOS.
---

<div class="site-main">
  <ul class="article-lists">
    {% for post in paginator.posts%}
      <li>
          <a class="list-title" href="{{ post.url }}">{{ post.title }}</a>
          <div class="list-info">
              in
              {% for cat in post.categories %}
              <a href="/categories#{{ cat }}-ref" title="{{ cat }}" rel="category tag">
                  {{ cat }}
              </a>
              {% endfor %}
              at
              <time>{{ post.date | date: "%Y-%m-%d" }}</time>
          </div>
      </li>
    {% endfor %}
  </ul>
  <div class="site-category">
    <h3>Category</h3>
    <ul class="category">
        {% for cat in site.categories %}
        <li class="list-items">
            <a href="/categories#{{ cat[0] }}-ref" title="{{ cat[0] }}" rel="{{ cat[1].size }}">{{ cat[0] }} <sup>({{ cat[1].size }})</sup></a>
        </li>
        {% endfor %}
    </ul>
  </div>
</div>
<ul class="site-paginator">
    <li>
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="current-page" href="/">&#171;</a>
        {% else %}
            <a class="" href="/page{{paginator.previous_page}}">&#171;</a>
        {% endif %}
    {% else %}
        <a class="disable" href="/">&#171;</a>
    {% endif %}
    </li>

    <li>
    {% if paginator.page == 1 %}
        <a href="/" class="current-page">1</a>
    {% else %}
        <a href="/" class="">1</a>
    {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
        <li>
            {% if count == paginator.page %}
                <a class="current-page">{{count}}</a>
            {% else %}
                <a class="" href="/page{{count}}">{{count}}</a>
            {% endif %}
        </li>
    {% endfor %}

    <li>
        {% if paginator.next_page %}
            <a class="" href="/page{{paginator.next_page}}">&#187;</a>
        {% else %}
            <a href="/" class="disable">&#187;</a>
        {% endif %}
    </li>
</ul>
