---
layout: template
title: Blog
keywords: Blog, fantasyshao, front-end, iOS, Mac
description: The blog of fantasyshao, front-end development, learning iOS.
---
<div class="site-heading-2">Recent posts</div>
<ul class="site-lists">
    {% for post in paginator.posts%}
    <li>
        <time>{{ post.date | date: "%Y-%m-%d" }}</time> --
        <span ><a href={{ post.url }}>{{ post.title }}</a></span>
    </li>
    {% endfor %}
</ul>

<!-- 分页 BEIGN -->
<ul class="site-paginator">
    <li>
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a class="current-page" href="/">&#171;</a>
        {% else %}
            <a class="" href="/page{{paginator.previous_page}}">&#171;</a>
        {% endif %}
    {% else %}
        <a class="disable" href="/">&#171;</a>
    {% endif %}
    </li>

    <li>
    {% if paginator.page == 1 %}
        <a href="/" class="current-page">1</a>
    {% else %}
        <a href="/" class="">1</a>
    {% endif %}
    </li>

    {% for count in (2..paginator.total_pages) %}
        <li>
            {% if count == paginator.page %}
                <a class="current-page">{{count}}</span>
            {% else %}
                <a class="" href="/page{{count}}">{{count}}</a>
            {% endif %}
        </li>
    {% endfor %}

    <li>
        {% if paginator.next_page %}
            <a class="" href="/page{{paginator.next_page}}">&#187;</a>
        {% else %}
            <a href="/" class="disable">&#187;</a>
        {% endif %}
    </li>
</ul>
<!-- 分页 END -->
