---
layout: template
title: Blog - Fantasy Shao
keywords: Blog, fantasyshao, front-end, Node.js, React, iOS, Mac
description: The blog of fantasyshao, programming, learning and reading.
---

<div class="articles">
    {% for post in paginator.posts %}
    <article class="article" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <h2 itemprop="name" class="title">
            <a href="{{ post.url }}" itemprop="url">{{ post.title }}</a>
        </h2>
        <div class="info">
            <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
            {% for cat in post.categories %}
              <a href="/categories#{{ cat }}-ref" title="{{ cat }}" rel="category">{{ cat }}</a>
            {% endfor %}
        </div>
        <p itemprop="description" class="desc">{{ post.content | strip_html | truncatewords: 10 }}</p>
    </article>
    {% endfor %}

    <nav class="pagination" role="navigator">
        {% if paginator.previous_page %}
            {% if paginator.page == 2 %}
                <a class="newer-posts" href="/">&larr; Newer</a>
            {% else %}
                <a class="newer-posts" href="/page{{paginator.previous_page}}">&rarr; Newer</a>
            {% endif %}
        {% endif %}
        <span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        {% if paginator.next_page %}
            <a class="older-posts" href="/page{{paginator.next_page}}">Older &rarr;</a>
        {% endif %}
    </nav>
</div>
