<title>{{ page.title }}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.keywords }}">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimal-ui">
<link rel="author" href="https://plus.google.com/+邵淳华">
<link rel="shortcut icon" href="/media/logo.ico">
<link rel="apple-touch-icon" href="/media/logo.png">
<link rel="alternate" href="/atom.xml" title="{{site.title}}" type="application/atom+xml">
<link rel="stylesheet" href="/media/css/fantasy_v2.css">
<link rel="stylesheet" href="/media/css/syntax.css">
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-36896790-7', 'auto');
  ga('send', 'pageview');
</script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=35509043" charset="UTF-8"></script>