:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: Open Sans, MundoSans, "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-feature-settings: "liga", "dlig";
}

$BLUE: #61dafb;

@mixin respond-to($breakpoint) {
  @media only screen and (max-width: $breakpoint + px) {
    @content
  }
}
  
.header {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f0;

  @include respond-to(800) {
    padding: 0 1rem;
  }

  .name {
    margin: 2rem 0;
    text-align: center;

    & > a {
      text-transform: uppercase;
      text-decoration: none;
      font-size: 3rem;
      color: #333;
    }
  }

  .desc {
    font-weight: 200;
    letter-spacing: .1em;
    text-align: center;
    font-size: 1.25rem;
    color: #666;
  }

  .links {
    text-align: center;
    margin: 2rem 0;
    color: #999;

    a {
      color: inherit;
      font-size: 1rem;
      text-decoration: none;
      margin: 0 .5rem;

      &:hover {
        color: #666;
      }
    }
  }
}

.articles {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  @include respond-to(800) {
    padding: 0 1rem;
  }
}

.article {
  padding: 2rem 0;
  border-bottom: 1px solid #f2f2f0;

  .title {
    font-weight: 700;
    font-style: normal;
    margin: 0;

    & > a {
      color: #333332;
      text-decoration: none;
      transition: all .3s ease-in;
      font-size: 1.75rem;
      line-height: 1.1;
      letter-spacing: -0.02em;

      &:hover {
        color: #222223;
        text-decoration: underline;
      }
    }
  }

  .desc {
    font-weight: 300;
    font-size: 1.25rem;
    font-style: normal;
    color: #666665;
    line-height: 1.3;
    margin: .5rem 0;
  }

  .info {
    font-size: 0.8rem;
    color: #b3b3b1;
    line-height: 1.5;
    margin: .5rem 0;

    a {
      color: #b3b3b1;
      text-decoration: none;
      margin: 0 .5rem;
      transition: color .3s ease;

      &:hover {
        color: #333;
        text-decoration: underline;
      }
    }
  }
}

.pagination {
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: #666;

  a {
    margin: 0 .5rem;
    color: #999;
    text-decoration: none;
    &:hover {
      color: #333;
    }
  }
}

.footer {
  text-align: center;
  color: #999;
  font-size: .75rem;
  padding-top: 2rem;

  a {
    color: #666;

    &:hover {
      color: #333;
    }
  }
}

// Article

.post-content, .page-content {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: #333;

  @include respond-to(800) {
    padding: 0 1rem;
  }

  h1, h2, h3, h4 {
    font-weight: 200;
  }

  h1 {
    text-align: center;
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
    border-bottom: 1px solid #eee;
  }

  h3 {
    font-size: 1.4rem;
  }

  a {
    text-decoration: none;
    color: #07a;
    &:hover {
      text-decoration: underline;
      color: #07f;
    }
  }

  .post-info {
    text-align: center;
    font-size: .8rem;
    color: #666;
    padding-bottom: .5rem;
    border-bottom: 1px dashed rgba(0, 0, 0, .1);
  }

  .article-license {
    font-size: .7rem;
    color: #777;
    padding: 20px 0;
    border-bottom: 1px solid #f2f2f0;
    text-align: center;
  }

  .article-content {
    font-size: 1rem;
    font-family: freight-text-pro, Georgia, Cambria, 'Times New Roman', Times, serif;

    p {
      color: rgba(0, 0, 0, .8);
      letter-spacing: 0.16px;
      line-height: 1.5;
    }

    code, pre {
      font-family: Menlo, Monaco, Consolas, "Liberation Mono", Courier, monospace;
      background-color: #F9F2F4;
      color: #C7254E;
      font-size: 90%;
      border: none;
      padding: 2px 5px;
    }

    pre {
      border: 1px solid #f2f2f0;
      background-color: #f9f9f9;
      font-size: 13px;
      overflow: hidden;
      word-wrap: break-word;
      padding: 3px 5px;
      border-radius: 3px;

      code {
        background-color: #f9f9f9;
        border: none;
        color: #333;
        padding: 0;
        font-size: 100%;
      }
    }

    blockquote {
      border-left: 4px solid #d5d5d5;
      padding: 0 15px;
      color: #777;
      margin: 1em 0;
      font-style: italic;
    }

    img {
      width: 100%;
    }
  }

}

.related {
  font-size: .8rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  a {
    display: inline-block;
    margin: 1rem 0;
    color: #666;
    border-radius: 2px;
    font-size: .8rem;
    padding: .5rem 1rem;
    transition: all .3s ease;
    &:hover {
      color: #333;
    }
  }
}

.post-bottom-area {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .post-bottom-inner {
    border-radius: 2px;
    padding: 1rem;
  }
}

.post-nav {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: .5rem 0;
  border-bottom: 1px solid #f2f2f0;

  @include respond-to(800) {
    padding: 0 1rem;
  }
  
  .brand {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    color: #666;

    &:hover, &:active {
      color: #333;
    }
  }

  .link {
    text-decoration: none;
    font-size: 1rem;
    color: #999;
    margin-left: 1rem;
    float: right;
    line-height: 28px;

    &:hover, &:active {
      color: #666;
    }
  }
}

.page-content,
.page-comment {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  @include respond-to(800) {
    padding: 0 1rem;
  }
}
