---
layout: default
---

<section class="wrapper post-content">
    <h2>{{ page.title }}</h2>
    <date title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
    <span>{{ page.date | date: '%B' }}</span>
    <span>{{ page.date | date: '%d' }}</span>
    <span>{{ page.date | date: '%Y' }}</span>
    </date>  ，类别：
    {% for cat in page.categories %} 
    <a href="/categories.html#{{ cat }}-ref" title="{{ cat }}" rel="category tag">{{ cat }}</a>
    {% endfor %}
    <br />
    <div class="postContent">
      {{ content }}
    </div>
    <div id="related">
      相关文章：
        {% for post in site.related_posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </div>
    <nav>
      {% if page.previous %}
      <span>&lt&lt <a href="{{ page.previous.url }}" rel="prev" title="{{ page.previous.title }}">{{ page.previous.title }}</a></span>
      {% endif %}
      {% if page.next %}
      <span>&gt&gt <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a></span>
      {% endif %}
    </nav>  
    <div>    
      {% include share.md %}
      <br />
      {% include comments.md %}
    </div>
</section>