---
layout: default
---

<section class="post">
    <h2>{{ page.title }}</h2>
    <small>
      <date title="{{ page.date | date_to_xmlschema }}" datetime="{{ page.date | date_to_xmlschema }}" pubdate>
      <span>{{ page.date | date: '%B' }}</span>
      <span>{{ page.date | date: '%d' }}</span>
      <span>{{ page.date | date: '%Y' }}</span>
      </date>  ，类别：
      {% for cat in page.categories %} 
      <a href="/categories.html#{{ cat }}-ref" title="{{ cat }}" rel="category tag">{{ cat }}</a>
      {% endfor %}
    </small>
    <br />
    <div class="postContent">
      {{ content }}
    </div>
    <div id="related">
      相关文章：
        {% for post in site.related_posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </div>
    <nav>
      {% if page.previous %}
      <span>&lt&lt <a href="{{ page.previous.url }}" rel="prev" title="{{ page.previous.title }}">{{ page.previous.title }}</a></span>
      {% endif %}
      {% if page.next %}
      <span>&gt&gt <a href="{{ page.next.url }}" rel="next" title="{{ page.next.title }}">{{ page.next.title }}</a></span>
      {% endif %}
    </nav>  
    <div>    
      {% include share.md %}
      <br />
      {% include comments.md %}
    </div>
</section>
<script type="text/javascript">
$(function(){
  $(document).keydown(function(e) {
  var url = false;
      if (e.which == 37 || e.which == 74) {  // Left arrow and J
          {% if page.previous %}
      url = '{{ site.url }}{{ page.previous.url }}';
      {% endif %}
      }
      else if (e.which == 39 || e.which == 75) {  // Right arrow and K
          {% if page.next %}
      url = '{{ site.url }}{{ page.next.url }}';
      {% endif %}
      }
      if (url) {
          window.location = url;
      }
  });
})
</script>
